/* /Users/semenov/Документы/GitHub/Calendar Task/my-calendar-app/src/app/globals.css */
@import "tailwindcss";

:root {
  --background: var(--color-gray-100) !important;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2e2e2;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Переопределяем lg:ml-72 */
@media (min-width: 1024px) {
  main {
    margin-left: 0 !important; /* Переопределение */
  }
}
